apiVersion: cloudscale.m.crossplane.io/v1beta1
kind: ClusterProviderConfig
metadata:
  name: default
spec:
  credentials:
    source: Secret
    secretRef:
      name: cloudscale-creds
      namespace: crossplane-system
      key: credentials
