server:
  name: web-worker01
  flavorSlug: flex-4-2
  imageSlug: ubuntu-24.04
  sshKeys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOf/JADcF3j0vZH1gXT+But9nNkVt5tN9LAaJe6Cn6sm
  zoneSlug: lpg1
  userData: |
    #cloud-config
    write_files:
        - path: /etc/netplan/01-netcfg.yaml
          content: |
            network:
              version: 2
              ethernets:
                ens3:
                  dhcp4: true
                  routes:
                    - to: 0.0.0.0/0
                      via: 10.11.12.1
                      metric: 1
    runcmd:
    - netplan apply
    - apt-get update
    - apt-get install -y nginx
    - systemctl start nginx
    - systemctl enable nginx

network:
  name: web-network
  zoneSlug: lpg1

subnet:
  name: web-subnet
  cidr: 10.11.12.0/24
  zoneSlug: lpg1

loadbalancer:
  name: web-loadbalancer
  flavorSlug: lb-standard
  zoneSlug: lpg1
  pool:
    name: web-loadbalancer-pool
    algorithm: round_robin
    protocol: tcp
  listener:
    name: web-loadbalancer-listener
    protocol: tcp
    protocolPort: 80

natGateway:
  name: nat-gateway
  flavorSlug: flex-4-2
  imageSlug: ubuntu-24.04
  address: 10.11.12.1
  sshKeys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOf/JADcF3j0vZH1gXT+But9nNkVt5tN9LAaJe6Cn6sm
  zoneSlug: lpg1
  userData: |
    #cloud-config
    write_files:
    - path: /etc/sysctl.d/99-ip-forward.conf
      content: |
        net.ipv4.ip_forward = 1
        owner: root:root
        mode: '0644'
    
    - path: /etc/iptables/rules.v4
      content: |
        *nat
        :PREROUTING ACCEPT [0:0]
        :INPUT ACCEPT [0:0]
        :OUTPUT ACCEPT [0:0]
        :POSTROUTING ACCEPT [0:0]
        -A POSTROUTING -o ens3 -j MASQUERADE
        COMMIT
        
        *filter
        :INPUT ACCEPT [0:0]
        :FORWARD ACCEPT [0:0]
        :OUTPUT ACCEPT [0:0]
        -A FORWARD -o ens3 -i ens4 -s {{ .Values.subnet.cidr }} -m conntrack --ctstate NEW -j ACCEPT
        -A FORWARD -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
        COMMIT
        owner: root:root
        mode: '0644'

    runcmd:
    - sysctl --system
    - iptables-restore < /etc/iptables/rules.v4
    - systemctl enable netfilter-persistent
    - systemctl start netfilter-persistent